@font-face {
    font-family: 'gilroy-bold';
    src: url('Gilroy-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'gilroy-bold';
}

.result {
    font-size: 55px;
    color: white;
    text-shadow: 5px 0px 0 black;
}

html,body {
    width: 100%;
    height: 80%;
    background-color: rgb(43, 43, 43);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 300px;
    font-size: 20px;
    color: white;
}

section {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
div {
    height: 125px;
    width: 130px;
    background-repeat: none;
    background-position: center;
    background-size: cover;
    border-radius: 14px;
}